.dropbtn {
  background-color: #FF5722;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #FF5722;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 43%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin: 0 auto
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}